@media only screen and (max-width:700px) {
    body{
        /* display: grid; */
        grid-template-columns: 100vw;
    }
    .mainbar{
        grid-column-start: 1;
        grid-column-end: 2;
    }
 .leftbar{
    display: none;
 }
 .rightbar {
    display: none;
 }
 .rect{
    width: 50%;
 }
}

@media only screen and (min-width:700px) and (max-width:900px){
body{
    display: grid;
    grid-template-columns: 1fr 4fr;
}
.leftbar{
    grid-column-start: 1;
    grid-column-end: 2;
}
.mainbar{
    grid-column-start: 2;
    grid-column-end: 3;
}
.rightbar{
    display: none;
}
.rect{
    width: 40%;
}
}
 @media only screen and (min-width:900px){
    body{
     grid-template-columns: 1fr 5fr 1fr;
    }
    .rect{
        width: 25%;
    }
 }
