*{
  margin: 0;
}
:root{
  --xunit:calc(100/10%);
  --yunit:calc(100/10%);
}
.container{
  display: grid;
  height: 100vh;
}
.graphics{
  /* border: solid black 1px; */
  /* background-color: lightblue; */
  width: 100%;
  height: 100%;
  /* width: 100vw; */
  /* height: 100vh; */
}
.h{
  fill: black;
  stroke:black;
  stroke-width: 5px;
}